<div class="flex flex-col justify-between rounded-xl max-w-3xl w-9/12 min-h-[540px] bg-secondary my-10">
    <h2 class="text-primary text-3xl pt-3 pl-3 font-bold">Recensioner</h2>
    <ul class="reviews grid grid-rows-5 align-start gap-1 p-3 mb-3">
    </ul>
    <div class="grid grid-cols-2 pb-3">
        <button id="next-page" class="col-start-2 col-end-3 row-span-1 justify-self-center self-center px-4 py-2 mx-3 text-xl w-36 font-bold text-white bg-primary rounded ">Nästa
            sida</button>
        <button id="prev-page" class="col-start-1 col-end-2 row-start-1 justify-self-center self-center px-4 py-2 mx-3  text-xl w-36 font-bold text-white bg-primary rounded ">Bakåt</button>
    </div>
</div>