<form id="review-form" class="flex flex-col">
    <label for="review-name" class="text-white text-center">Namn</label>
    <input name="review-name" id="review-name" class="px-2" type="text" placeholder="Namn">
    <label for="review-comment" class="text-white mt-3 text-center">Kommentar</label>
    <textarea name="review-comment" id="review-comment" class="px-2" rows="3" placeholder="Kommentar"></textarea>
    <label for="review-rating" class="text-white mt-3 text-center">Rating</label>
    <input name="review-rating" id="review-rating" class="px-2" type="number" value="3" min="0" max="5">
    <button id="submit-review" class="bg-secondary px-2 py-1 rounded-md m-3 text-white text-lg text-center" type="submit">Skicka</button>
</form>