<template id="screening-template">
    <div class="screening flex flex-col p-2 text-center text-white">
        <p class="title font-bold"></p>
        <p class="room font-semibold"></p>
        <p class="date"></p>
    </div>
</template>

<div id="screenings-container" class="flex flex-col">

</div>